.background-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  pointer-events: none;
  opacity: 0.18;
}

.grid-box {
  border: 1.5px solid #bbb;
  background: transparent;
  box-sizing: border-box;
  transition: background 0.3s, border-color 0.3s;
}

.grid-box.filled {
  background: #e0e0e0;
  border-color: #e0e0e0;
}

.app-container.dark .background-grid .grid-box {
  border-color: #6d6d6d;
}

.app-container.dark .background-grid .grid-box.filled {
  background: #777777bd;
  border-color: #989898;
} 